<p class="position-absolute top-50 w-100 text-center fw-italic fs-5">Blog App</p>

<div class="fixed-bottom px-3">
  <div class="bg-primary py-3 text-center">
    <%= link_to "LOG IN", new_user_session_path, class: "px-5 py-2 text-decoration-none", style: "color: #fff" %>
  </div>
  <div class="bg-white py-3 text-center">
    <%= link_to "SIGN UP", new_user_registration_path, class: "px-5 py-2 text-decoration-none", style: "color: #000" %>
  </div>
</div>